
/* https://shadows.brumm.af/ */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fbfaff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.btn{
    position: relative;
    background: #fbfaff;
    color: #292734;
    width: 10rem;
    height: 3rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow:
  16.1px 2.8px 9.6px rgba(0, 0, 0, 0.066),
  32.8px 5.7px 24.2px rgba(0, 0, 0, 0.105),
  53.3px 9.3px 49.4px rgba(0, 0, 0, 0.133),
  88.2px 15.4px 101.8px rgba(0, 0, 0, 0.163),
  206px 36px 279px rgba(0, 0, 0, 0.24)
;

;
}
.btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: #ea0e4b;
}
.btn-center::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.btn-center:hover::after{
    /* horizontal and vertical */
    transform: scale(1,1);
}
.btn-left::after{
    transform: scale(0,1);
    /* start x = 0 y = ? 100 */
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}
.btn-left:hover::after{
    transform: scale(1,1);
}
/* animate bottom button */
.btn-bottom{
    overflow: hidden;
}
.btn-bottom::after{
    transform: translateY(3px);
    transition: transform 0.3s ease;
}
.btn-bottom:hover::after{
    transform: translateY(0);
}





